<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Retroreis Reisplanner</title>
    <meta content="width = device-width" name="viewport"/>
    <meta content="initial-scale=1.0, user-scalable=1" name="viewport"/>
    <link rel="stylesheet" media="screen,handheld" type="text/css" href="/static/css/{{ getTheme() }}.css"/>
    <script type="text/javascript" src="/static/custom-min.js"></script>
</head>
<body>

<div id="heading">
    <div id="headingTitle">
        <a class="nu" href="index.php"><img style="display:inline;" src="/static/img/logo-41x17.gif" width="41"
                                               height="17" alt=""/></a>
        <h2 style="display:inline;margin-left:4px;">Retro Reisplanner</h2>
    </div>
    {% if getTheme() is same as('modern') %}
        <div id="topimg"><img src="/static/img/topbar2.jpg" height="60" alt="Reisadvies" id="topbarimg"></div>
    {% endif %}
</div>
<div id="hbar">
    <ul id="menu">
        <li><a class="{{ page == 'index' ? 's' : '' }}tab" href="/" accesskey="1">Reisplanner</a></li>
        <li>&nbsp;
            <img src="/static/img/ffcc36.gif" class="menuseperator" alt="|"/>
            <a class="{{ page == 'actvertrektijden' ? 's' : '' }}tab" href="actvertrektijden.php" accesskey="2">Vertrektijden</a>
        </li>
        <li>&nbsp;
            <img src="/static/img/ffcc36.gif" class="menuseperator" alt="|"/>
            <a class="{{ page == 'storingen' ? 's' : '' }}tab" href="storingen.php" accesskey="3">
                Storingen
                {% if aantalStoringen > 0 %}
                    <span id="upd" class="red">({{ aantalStoringen }})</span>
                {% endif %}
            </a>
        </li>
        <li>&nbsp;
            <img src="/static/img/ffcc36.gif" class="menuseperator" alt="|"/>
            <a class="{{ page == 'werkaanspoor' ? 's' : '' }}tab" href="werkaanspoor.php" accesskey="4">
                {% if getTheme() is same as('modern') %}
                    <img src="/static/img/werkzaamheden{{ page == 'werkaanspoor' ? 's' : '' }}.gif" alt="Werkzaamheden"/>
                {% else %}
                    Werkzaamheden
                {% endif %}
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="page">

    {% if page != 'actvertrektijden' %}
        <div id="favs" class="drop">
            <a id="aShowFav" class="dh" href="planner.action?showfav=true"
               onclick="t(event,'favContainer','exp');return false;"><span id="exp" class="col">[+] </span> Kies uit
                favoriete reis</a>
            <div id="favContainer" class="dropE">
                <p>Er zijn nog geen favorieten, plan eerst een reis.</p>
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

</div>
<div id="footer">
    <p>
        &#169; {{ "now"|date("Y") }} JP&#160;|&#160;<a href="index.php" accesskey="0"><strong>Home</strong></a>
{#        &#160;|&#160;<a href="?lang=en">English version</a>#}
        {% if getTheme() is same as('modern') %}
            &#160;|&#160;<a href="?theme=classic">Classic</a>
        {% else %}
            &#160;|&#160;<a href="?theme=modern">Modern</a>
        {% endif %}
{#      &#160;|&#160;<a href="stations.action">Stationslijst</a>#}
    </p>
</div>
<script type="text/javascript">var favs = [];</script>
</body>
</html>