{% extends 'base.html.twig' %}

{% block title %}Werk aan het spoor{% endblock %}

{% block content %}

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .disruption {
            padding-bottom: 1em;
        }
        .disruption h2 {
            margin: 0;
            font-size: 1.3em;
        }
        .disruption p {
            margin: 0.3em 0;
        }
    </style>

    <h2>Werkzaamheden</h2>

    {% if disruptions is not empty %}
        {% for disruption_type, disruptions_list  in disruptions %}

            <h4>{{ titles[disruption_type] }}</h4>
            <div class="drop disruption">

                {% for disruption in disruptions_list %}

                    <h4>{{ disruption.title }}</h4>
                    {% if disruption.registrationTime is defined %}
                        <p>
                            <strong>Bericht {{ disruption.registrationTime | date("l d F Y, H:i") }}:</strong>
                            {# Toon de oorzaak/reden #}
                            {% if disruption.timespans is defined and disruption.timespans|length > 0 %}
                                <br>
                                <strong>Reden:</strong> {{ disruption.timespans[0].situation.label }}
                            {% endif %}
                        </p>
                    {% endif %}

                    {# Toon de gevolgen voor de reis #}
                    {% if disruption_type != 'MAINTENANCE' %}
                        {% if disruption.publicationSections is defined %}
                            {% for section in disruption.publicationSections %}
                                {% if section.consequence is defined and section.consequence.description is defined %}
                                    <p>{{ section.consequence.description | capitalize }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {# Eindtijd #}
                    {% if disruption.expectedDuration is defined %}
                        {% if disruption.expectedDuration is defined and disruption.expectedDuration.description is defined %}
                            <p>{{ disruption.expectedDuration.description }}</p>
                        {% endif %}
                    {% endif %}

                    {# Eindtijd #}
                    {% if disruption.summaryAdditionalTravelTime.label is defined %}
                        <p><strong>{{ disruption.summaryAdditionalTravelTime.label }}</strong></p>
                    {% endif %}


                    {% if loop.last == false %}
                        <img src="/static/img/{% if getTheme() is same as('modern') %}ffcc36{% else %}000000{% endif %}.gif" width="100%" height="1" alt="">
                    {% endif %}

                {% endfor %}
            </div>


            {% if loop.last == false %}
                <img src="/static/img/000000.gif" width="100%" height="1" alt="">
            {% endif %}

        {% endfor %}
    {% else %}
        <p>Geen storingen of werkzaamheden gevonden.</p>
    {% endif %}

{% endblock %}
